site_name: Labelformat Docs
theme:
  name: material
  features:
    - navigation.instant
    - navigation.expand
    - search.highlight
    - navigation.top
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - content.tabs.link
  palette:
    scheme: slate
    primary: grey
    accent: blue

site_url: https://labelformat.com
repo_url: https://github.com/lightly-ai/labelformat
repo_name: Labelformat
docs_dir: docs

nav:
  - Home:
      - index.md
      - Features: features.md
      - Installation: installation.md
      - Quick Start: quick-start.md
      - Usage: usage.md
      - Supported Formats:
          - Object Detection:
              - formats/object-detection/index.md
              - COCO Format: formats/object-detection/coco.md
              - KITTI Format: formats/object-detection/kitti.md
              - Labelbox Format: formats/object-detection/labelbox.md
              - Lightly Format: formats/object-detection/lightly.md
              - PascalVOC Format: formats/object-detection/pascalvoc.md
              - RT-DETR Format: formats/object-detection/rtdetr.md
              - RT-DETRv2 Format: formats/object-detection/rtdetrv2.md
              - YOLOv5 Format: formats/object-detection/yolov5.md
              - YOLOv6 Format: formats/object-detection/yolov6.md
              - YOLOv7 Format: formats/object-detection/yolov7.md
              - YOLOv8 Format: formats/object-detection/yolov8.md
              - YOLOv9 Format: formats/object-detection/yolov9.md
              - YOLOv10 Format: formats/object-detection/yolov10.md
              - YOLOv11 Format: formats/object-detection/yolov11.md
              - YOLOv12 Format: formats/object-detection/yolov12.md
              - YOLOv26 Format: formats/object-detection/yolov26.md
      - Tutorials:
          - Converting COCO to YOLOv8: tutorials/converting-coco-to-yolov8.md
  - About Us: about-us.md

plugins:
  - search
  - blog
  - git-revision-date-localized:
      type: date

extra:
  analytics:
    provider: google
    property: G-K4PH64C9BM
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

extra_javascript:
  - assets/js/analytics.js

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
