name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Tests
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        python: ["3.8", "3.10"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}

      - name: Set up Uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.10.4"
          enable-cache: true

      - name: Install the package and dependencies
        run: |
          uv sync --all-groups --locked --python ${{ matrix.python }}

      - name: Run tests
        run: |
          make all-checks
